.app {
  height: 100%;
  background-color: var(--app-background-color);

  &-wrapper {
    height: calc(100% - 28px - 24px);
    display: flex;
    margin: 0 24px 24px 0;
    gap: 8px;

    & > div:last-of-type {
      flex-grow: 1;
    }
  }
}

.top {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 28px;
}
